@import "../globals/variables";

.category{
  flex-basis: 20%;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;


  &__header{
    padding-top: 12px;
    min-height: $tile-height / 2;
    font-size: $tile-header-font-size;
    color: $category-color;
  }
}
