@import "../globals/variables";

.category{
  flex-basis: 20%;
  text-align: center;

  &__header{
    height: $tile-height / 2;
    line-height: $tile-height / 2;
    font-size: $tile-header-font-size;
    color: $category-color;
  }
}
