@import "../globals/variables";

.modal{
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  font-size: $modal-font-size;

  *{
    text-align: center;
  }

  &__close{
    position: absolute;
    color: inherit;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    top: 12px;
    right: 12px;
  }

  &__overlay{
    background: $modal-overlay-bg;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    z-index: 1;
  }

  &__card{
    color: $base-color;
    background-color: $base-bg-color;
    z-index: 2;
    width: 75vw;
    height: 75vh;
    margin: 0 auto;
    position: relative;
    padding: 24px 2.5vmax 2.5vmax 2.5vmax;
  }

  &__header{
    display: flex;
    align-items: center;
    height: 10%;
    font-size: $modal-title-font-size;
  }

  &__header > *{
    text-align: center;
    flex-grow: 1;
  }

  &__content{
    display: flex;
    align-items: center;
    height: 90%;
  }

  &__content > *{
    text-align: center;
    flex-grow: 1;
  }

  &__show-controls{
    background-color: transparent;
    color: inherit;    
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 2rem;
  }

  &__controls{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    width: 75%;
    margin: 0 auto;
  }
}
