@import "../globals/variables";

.score-board{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 24px;

  &__title{
    flex-grow: 1;
    text-align: center;
    font-size: $score-board-title-font-size;
  }

  &__team{
    font-size: $score-board-team-name-font-size;
    opacity: .75;
    min-width: 10vmax;

    &--right{
      text-align: right;
    }
  }

  &__score{
    font-size: $score-board-team-score-font-size;
  }
}