@import "../globals/variables";

.team{
  opacity: .75;

  &--1{
    color: $team-1-color;
  }
  &--2{
    color: $team-2-color;
  }
  &--active:not(.team--locked){
    opacity: 1;
    text-decoration: underline;
  }
  &--locked{
    text-decoration: line-through;
  }
}
