@import "variables";

*,
*::before,
**::after{
    box-sizing: border-box;
}

body{
    background-color: $base-bg-color;
    color: $base-color;
    font: $base-font;
    margin: 0;
    padding: 0;
}
