$base-bg-color: #000;
$base-color: #fff;
$base-font-family: Arial, Helvetica, sans-serif;
$base-font-size: 14px;
$base-font: $base-font-size $base-font-family;

$tile-height: 16.66666666666667vh;

$modal-font-size: 3.5vmax;
$modal-title-font-size: 1.75vmax;
