$base-bg-color: #000;
$base-color: #fff;
$base-font-family: Arial, Helvetica, sans-serif;
$base-font-size: 14px;
$base-font: $base-font-size $base-font-family;

$score-board-title-font-size: 1.50vmax;
$score-board-team-name-font-size: .75vmax;
$score-board-team-score-font-size: 1.50vmax;

$tile-height: 16.66666666666667vh;
$tile-font-size: 2.5vmax;
$tile-header-font-size: 1.50vmax;

$modal-font-size: 3.5vmax;
$modal-title-font-size: 1.75vmax;
